manifest {
  name = 'PhiloBacteria'
  author = 'Nehleh Kargarfard'
  description = 'PhiloBacteria'
  mainScript = 'philoBacteria_4states.nf'
}

conda {
//    conda.cacheDir = "/shared/homes/13298409/miniconda3/envs"
    process.conda = "/shared/homes/13298409/miniconda3/envs/nfk_phylohmm.yml"
  }


process.executor = 'local'

//process {
//
//   executor = 'pbspro'  
//   cpus = 4
//   memory = 32.GB
//   scratch = true
// 
//}

trace {
  enabled = true
  file = "${PWD}/Logs_philobacteria/trace.csv"
  sep = ','
}

timeline {
  enabled = true
  file = "${PWD}/Logs_philobacteria/timeline.html"
}

report {
  enabled = true
  file = "${PWD}/Logs_philobacteria/report.html"
}



//process {
//
//   executor = 'pbspro'  
//
//   withLabel: 'short' {
//        cpus = 4
//        memory = 32.GB
//        executor = 'pbspro'
//        queue = 'smallq'
//    }
//
//   withLabel: 'workq' {
//        cpus = 32
//        memory = 128.GB
//        executor = 'pbspro'
//        queue = 'riskyq'
//    }  
//}