manifest {
  name = 'phylohmm'
  author = 'Nehleh Kargarfard'
  description = 'phylohmm'
  mainScript = 'phyloHMM-HPC.nf'
}

conda {
    conda.cacheDir = "/shared/homes/13298409/miniconda3/envs"
  }

process {

   withLabel: 'short' {
        cpus = 4
        memory = 32.GB
        executor = 'pbs'
        queue = 'smallq'
    }

   withLabel: 'workq' {
        cpus = 32
        memory = 128.GB
        executor = 'pbs'
        queue = 'medq'
    }  
}

trace {
  enabled = true
  file = "${PWD}/Logs/trace.csv"
  sep = ','
}

timeline {
  enabled = true
  file = "${PWD}/Logs/timeline.html"
}

report {
  enabled = true
  file = "${PWD}/Logs/report.html"
}

