manifest {
  name = 'phylohmm'
  author = 'Nehleh Kargarfard'
  description = 'phylohmm'
  mainScript = 'phyloHMM-HPC.nf'
}


profiles {
  conda {
    conda.cacheDir = "/shared/homes/13298409/miniconda3/envs"
  }
  
  standard {
        process.executor = 'local'
    }

}

process {


   withLabel: 'short' {
        cpus = 4
        memory = '4 GB'
        executor = 'pbs'
        queue = 'smallq'
    }

   withLabel: 'medium' {
        cpus = 10
        memory = '64 GB'
        executor = 'pbs'
        queue = 'medq'
    }

    
}

